<div class = 'forms'>
  <%= form_for [:admin, @item], html: { multipart: true } do |f| %>
    <div class="field">
      <p>  <%= f.label "Title (must be unique)" %></p>
      <p>  <%= f.text_field :title %></p>
      <p>  <%= f.label :description %></p>
      <p>  <%= f.text_field :description %></p>
      <p>  <%= f.label "Price (cents)" %></p>
      <p>  <%= f.number_field :price, :class => 'price', :min => 1, :value => @item.price %></p>
      <p>  <%= f.label :status %></p>
      <p>  <%= f.select :status, ['retired', 'active', 'out_of_stock'] %></p>
      <p>  <%= f.label :image %><br></p>
      <p>  <%= f.file_field :image %></p>
      <p><%= f.label "Categories (select any that apply)" %></p>
      <p><%= f.collection_select :categories, @category, :id, :name, {prompt: false}, {multiple: true}%></p>
      <p>  <%= f.submit %></p>
    </div>
  <% end %>
</div>
