<h3><%= link_to "Create New Item", new_admin_item_path %></h3>

  <div class = "all-items">
    <% @items.each do |item| %>
      <div class="product-card">
        <div class="product-card-thumbnail">
      <%= image_tag item.image.url unless item.image.url.nil? %>
    </div>
       <%= link_to "#{item.title}", item_path(item) %></p>
     <%= item.description %>
      <span class="product-card-price"><%= item.price %></span>
      <p><%= form_for [:admin, item] do |f| %></p>
    <p>  <%= f.label :status %></p>
      <p><%= f.select :status, ['retired', 'active', 'out_of_stock'] %></p>
    <p>  <%= f.submit %>
      <% end %>
    <%=link_to "Edit", edit_admin_item_path(item)  %>
  </div>
    <% end %>
  </div>

<div class="paginate-container">
  <%= will_paginate @items %>
</div>
