<h1>Account Dashboard</h1>

<p><%= link_to "My Orders", orders_path %></p>

<table class="address">
  <tr>
    <td>Full Name:</td>
    <td><%= current_user.full_name %></td>
  </tr>
  <tr>
    <td>Street Address:</td>
    <td><%= current_user.street %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= current_user.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= current_user.state %></td>
  </tr>
  <tr>
    <td>Zipcode:</td>
    <td><%= current_user.zipcode %></td>
  </tr>
</table>
