<div class="view-order">
  <% if @order.status == "Completed" %>
    <h3>Order Completed On: <%= @order.updated_at.strftime("%b %d, %Y") %></h3>
  <% elsif @order.status == "Cancelled"%>
    <h3>Order Cancelled On: <%= @order.updated_at.strftime("%b %d, %Y") %></h3>
  <% else %>
    <h3>Order Status: <%= @order.status %></h3>
  <% end %>
  <table class="address">
    <tr><td>Full Name: </td><td><%= @order.user.full_name %></td></tr>
    <tr><td>Street Address: </td><td><%= @order.user.street %></td></tr>
    <tr><td>City: </td><td><%= @order.user.city %></td></tr>
    <tr><td>State: </td><td><%= @order.user.state %></td></tr>
    <tr><td>Zipcode:</td><td><%= @order.user.zipcode %></td></tr>
  </table>
  <table class="order-contents">
      <th>Knit</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    <% @order.order_items.each do |order_item| %>
    <tr>
      <td class="product-card-thumbnail">
        <%= link_to image_tag(asset_path(order_item.item.image)), item_path(order_item.item)  %>
      </td>
      <td><h4><%= link_to "#{order_item.item.title}", item_path(order_item.item) %></h4><%= order_item.item.description %></td>
      <td class="order-item-price"><%= order_item.item.price_in_dollars %></td>
      <td class="order-item-quantity"><%= order_item.quantity %></td>
      <td class="order-item-subtotal"><%= order_item.subtotal_in_dollars %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="order-item-total">Order Submitted:</td>
      <td class="order-item-total"><%= @order.created_at.strftime("%b %d, %Y, %I:%M %p") %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="order-item-total">Knit Total Cost:</td>
      <td class="order-item-total"><%= @order.total_in_dollars %></td>
    </tr>
  </table>
</div>
