

<table class="cart-contents">
    <th>Knit</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
  <% @items.each do |item| %>
  <tr>
    <td class="product-card-thumbnail">
          <%= link_to image_tag(asset_path(item.image)), item_path(item)  %><br/>
          <%= item.title %></td>
    <td class="cart-item-price"><%= item.price %></td>
    <td class="cart-item-quantity">
    <%= form_tag(carts_path(:item_id => item.id),  method: :put) %>
    <%= number_field_tag :quantity, @cart.count_of(item.id), min: 0 , class: "update"%><br/>
    <%= submit_tag "Update Quantity"%><br/>
    <%= button_to "Remove from Cart", cart_path(item_id: item.id), method: :delete %>
    </td>
    <td class="cart-item-subtotal"><%= @cart.item_subtotal(item.price, item.id) %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td class="cart-item-total">Knit Total Cost:</td>
    <td class="cart-item-total"><%= number_to_currency(cart_total_price/100) %></td>
  </tr>
</table>
