
<table class="cart-contents">
  <th>Item</th>
  <th>Price</th>
  <th>Quantity</th>
  <th></th>
<% @items.each do |item| %>
<tr>
  <td><%= item.title %></td>
  <td><%= item.price %></td>
  <td>
  <% form_tag('/carts',  method: :put) %>
    <%= number_field_tag :quantity, @cart.count_of(item.id) , min: -10, max:10 %>
  <%= submit_tag %>
  </td>
  <td><%= button_to "Remove from Cart", cart_path(item_id: item.id), method: :delete %></td>
</tr>
<% end %>

</table>
