<table class="cart-contents">
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.price %></td>
    <td>
    <%= form_tag(cart_path(:item_id => item.id),  method: :put) %>
      <%= number_field_tag :quantity, @cart.count_of(item.id) , min: 0 %>
    <%= submit_tag %>
    </td>
    <td><%= @cart.item_subtotal(item.price, item.id) %></td>
    <td><%= button_to "Remove from Cart", cart_path(item_id: item.id), method: :delete %></td>
  </tr>
  <% end %>
</table>
<p>Knit Total Cost: <%= number_to_currency(cart_total_price/100) %>
