<% if @category %>
<h3><%= link_to "Categories", categories_path %> > <%= @category.name.capitalize %></h3>
<% else %>
<h3>All Knits</h3>
<% end %>

<div class="sort">
  <%= form_tag(items_path, method: :get) do %>
    <%= select_tag(:sort, options_for_select(item_sort, params[:sort])) %>
    <%= submit_tag "Sort" %>
  <% end %>
</div>

<div class="all-items">
<% @items.each_with_index do |item, index| %>
  <div class="product-card" id=<%= index %>>
    <div class="product-card-thumbnail">
      <%= link_to image_tag(asset_path(item.image)), item_path(item)  %>
    </div>
    <%= link_to item.title, item_path(item), class: "product-card-title" %></br>
    <span class="product-card-price"><%= item.price_in_dollars %></span></br>
    <%= button_to "Add to Cart", cart_path(item_id: item.id), :disabled => !item.active? %>
  </div>
<% end %>
</div>

<div class="paginate-container">
  <%= will_paginate @items %>
</div>
