<div class="product-page">
  <div class="product-image">
    <img src='<%= asset_path(@item.image) %>'>
  </div>
  <div class="product-details">
    <h2><%= @item.title %></h2>
    <h3><%= @item.price_in_dollars %></h3>
    <% byebug %>
    <%= button_to "Add to Cart", carts_path(item_id: @item.id), :disabled => !@item.active? %>
    <% if @item.status == "retired" %>
      <p>Item Retired</p>
    <% elsif @item.status == "out_of_stock" %>
      <p>Out of Stock</p>
    <% end %>
    <p><%= @item.description %></p>
  </div>
</div>
