<!DOCTYPE html>
<html>
  <head>
    <title>KnitWits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link rel=icon href="assets/images/favicon-32x32.png"/>
</head>
  <body>
    <nav >
     <%= link_to image_tag(asset_path("knitwits.png")), root_path  %>
           <ul class="menu menu-hover-lines">
        <li><%= link_to 'Home', items_path  %></li>
        <li><%= link_to 'Knits', items_path  %></li>
        <li><%= link_to 'Categories', categories_path  %></li>
        <li><%= link_to cart_path do %>


                 <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                 <%= @cart.total_count %>
               <% end %></li>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>

        <% end %>

      </ul>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <div class="page">
      <%= yield %>
    </div>

 <%= render partial: "layouts/footer" %>
  </body>

</html>
