<!DOCTYPE html>
<html>
  <head>
    <title>KnitWits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet"> -->
    <%= favicon_link_tag 'favicon-32x32.png' %>
</head>
  <body>
    <%= render partial: "layouts/header" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <div class="page">
      <%= yield %>
    </div>

 <%= render partial: "layouts/footer" %>
  </body>

</html>
