<!DOCTYPE html>
<html>
  <head>
    <title>KnitWits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link rel=icon href="assets/images/favicon-32x32.png"/>
</head>
  <body>
    <nav >
        <a ><%= image_tag ("knitwits.png") %></a>
      <ul class="menu menu-hover-lines">
        <li><%= link_to 'Home', items_path  %></li>
        <li><%= link_to 'Knits', items_path  %></li>
        <li><%= link_to 'Categories', categories_path  %></li>
        <li><%= link_to "Cart (#{@cart.total_count})", carts_path %></li>
      </ul>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>


    <%= yield %>
    <footer class="mobile-app-icon-bar">
      <button><a href = ""><i class="fa fa-twitter" aria-hidden="true"></i></button>
      <button><i class="fa fa-github" aria-hidden="true"></i></button>
      <button><a href = "www.facebook.com/lachzandes"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
      <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
    </footer>
  </body>

</html>
