<!DOCTYPE html>
<html>
  <head>
    <title>KnitWits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link rel=icon href="assets/images/favicon-32x32.png"/>
</head>
  <body>
    <nav >
        <a ><%= image_tag ("knitwits.png") %></a>
      <ul class="menu menu-hover-lines">
        <li class="#"><a href="#">Home</a></li>
        <li><a href="#">Knits</a></li>
        <li><a href="#">Categories</a></li>
      </ul>
    </nav>



    <%= yield %>
    <footer class="mobile-app-icon-bar">
      <button><i class="fa fa-twitter" aria-hidden="true"></i></button>
      <button><i class="fa fa-github" aria-hidden="true"></i></button>
      <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
    </footer>
  </body>

</html>
